# NW Riemann Rules
#

# check action is "add"
ACTION!="add" GOTO="end"

# check for usb device
SUBSYSTEM!="usb" GOTO="end"

# check for hid device
ATTR{bInterfaceClass}!="03" GOTO="end"

# check for riemann id
ATTR{idVendor}!="1926" ATTR{idProduct}!="0262" GOTO="end"

# run driver load script
RUN+="/bin/sh /etc/nwriemann/load_riemann.sh"

LABEL="end"
